nav{
 
  /* background-color: aliceblue; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content:flex-end;
  margin-right: 70px;

}
body {
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  background-image: url('../src/images/aibackground.jpeg'); /* Use the relative path to the image */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the image */
  height: 130vh;
  /* height: 600px; */
  width: auto;
    
}



ul li{
  list-style: none;
  display: inline-block;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 20px;
    font-weight: 600;
    
    
  
}


img{
  height: 100px;
  width: 100px;
  
}
li{
  font-size: 35px;
  font-weight: 600;
  color: white;
  
  text-decoration: none;
}


.home-page {
  text-align: center;
  margin-top: 50px;
}

.form-container {
  margin-left: 100px;
  display: flex;
  /* justify-content: center; */
  /* margin-bottom: 20px; */
  margin-top: 50px;
  border-radius: 5px;

}
.service-links{
  margin-right:700px;
}

.url-input,
.service-select,
.search-button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.url-input {
  width: 300px;
  /* border-radius: 5px; */
}

.service-select {
  width: 150px;
}

.search-button {
  padding: 10px 20px;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.video-info {
  margin-top: 50px;
}

.thumbnail {
  /* max-width: 100%; */
  height:200px;
  width: 200px;
}

.download-options {
  /* margin-top: 20px; */
  margin-left: 30px;
}

.resolution-select,
.download-button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 30px;

}
.h
.service-links {
  margin-top: 30px;
}

h1{
  font-family: sans-serif;
  color: white;
  

  /* border-color: #3498db; */
 
  
}

span{
  color: red;
}
h1{
  margin-top: 130px;
  margin-right: 530px;
}
h2{
  color:blue;
  font-family:verdana;
  margin-right: 600px;
}
.instaimg {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.youtubeimg{
  width: 40px;
  height: 40px;
  margin: 10px;
} 

.spotifyimg {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
