/* src/ConsoleText.css */
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity: 0;
}


.console-container {
    /* padding-top: 10px; */
      /* border: 1px solid black; */
  font-family: 'Khula', sans-serif;
  font-size: 2em;
  /* text-align: center; */
  height: 40px;
  width: 600px;
  display: block;
  position: absolute;
  color: white;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  margin:0;
}

.console-underscore {
  
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
  animation: blink 0.7s steps(1);
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
