/* navbarcss */
/* src/components/Navbar.css */

.navbar {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: #333; */
    /* background-color: #a6c1ee; */
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .navbar-logo a {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    

    /* margin-bottom: 10px; */
    /* background-color: aqua; */
  }
  
  .navbar-links {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
   
  }
  
  .navbar-links li {
    display: inline;
    
  }
  
  .navbar-links a {
    text-decoration: none;
    color:black;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  .navbar-logo .logo{
    height: 60px;
    width: 90px;
  }  
  .navbar-logo{
    align-items: center;
    
  }