.secondpage{
    margin-top: 70px;
    background-color:aliceblue;
    height: 400px;

}
.s2-head{
    margin-top: 40px;
    color: lightslategrey;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-family:  sans-serif;
}
.s2span{
    padding-left: 20px;
    font-size: 28px;
}
.s2-body{
    margin-top: 0;
    color: #1a1a1a;;
    /* font-weight:800; */
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style:oblique;
    /* margin-bottom: 40px; */
    font-size: 48px;
        line-height: 0.98;
        margin-bottom: 16px;
        letter-spacing: -1.22px;
}
.s2para{
    /* margin-bottom: 10px; */
    margin-top: 0;

    font-size: 18px;

    /* font-weight: bold; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-button{
    /* box-sizing: border-box; */
    border-radius: 10px;
    cursor: pointer;
    /* background-color: black; */
    height: 40px;
    width: 130px;
    /* color: white; */
    margin-right: 30px;
    padding: 5px;
    border-style: none;
}
.contact-button:hover{
    background-color: wheat;
}
.Learn-more{
    /* box-sizing: border-box; */
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    height: 40px;
    width: 130px;
    color:white;
    margin-right: 30px;
}
.Learn-more:hover{
    background-color:whitesmoke;
    color: black;
}


 /* this is s3 */
 /* General styling for the section */

  