/* General styling for the section */
section {
    width: 100%;
    /* margin-top: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: flex-start; */
    /* padding: 20px; */
     
    /* background-color: aliceblue; */
   
  }
  
  
  .s3-section {
    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #512DA8, #673AB7);
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  
  .s3-picture {
    flex: 0 0 300px;
    height: 300px;
    margin-right: 20px; /* Space between picture and containers */
    /* background-color: #f0f0f0; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
  }
  .mobileuse{
    height: 450px;
    width: 500px;
    padding-left: 30px;
  }
  .s3-text {
    /* border: 1px solid black; */
    margin-left: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
    height: 500px;
    width: 100%;
  }
  
  /* .s3-text-top {

    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    background-color: bisque; 
  } */
  .title01{
    color: #6c757d;
    /* margin-left: 200px; */
    font-size: 20px;
    /* width: 200px; */
    
  
   
  }
  .htu-container{

    color: #6c757d;
    background-color: black;
  }
  .body01{
    /* margin-left: 200px; */
    font-size: 40px ;
  
  margin-top: 0;
    /* width: 400px */

  }
 
  .s3-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    /* margin-bottom: 20px; */
    /* background-color: aqua; */
    /* border: 1px solid black; */
    /* padding: 5px; */
    /* margin-left: 200px; */
    width: 100%;
    /* height: 300px; */
  }
  
  .round-s3 {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* For a circular shape */
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-top: 25px;
    color: red;
    border: 2px solid red;
   
    transform: translateY(10spx);
  }

  .round-s3:hover{
    background-color:#d03646;
    color: white;
    transform: translateY(2px);
  }
  .s3-container-content {
    display: flex;
    flex-direction: column;
  }
  
  .s3-title {
    font-size: 20px;
    /* background-color: #6c757d; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
   
  }
  
  .s3-para {
    font-size: 16px;
    margin-top: 0;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;

  }
  .s3-container-content {
    display: flex;
    flex-direction: column;
    /* background-color: #6c757d; */
    width: calc(100% - 50px); /* Adjust to account for round-s3 width and margin */
  }
  
  @media (max-width: 768px) {
    section {
      flex-direction: column;
      align-items: center;
    }
  
    .s3-picture {
      width: 100%; /* Full width for mobile */
      height: auto;
      margin: 0;
      margin-bottom: 20px;
    }
  
    .s3-text, .s3-container {
      width: 100%; /* Full width for mobile */
      margin: 0;
      margin-bottom: 20px;
    }
  
    .round-s3 {
      width: 30px;
      height: 30px;
    }
  
    .s3-title {
      font-size: 18px;
    }
  
    .s3-para {
      font-size: 14px;
    }
  }
  

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    /* background-color: aliceblue; */
}

.card {
    background: #474642;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(230, 233, 235, 0.87);
    width: 250px;
    padding: 20px;
    height: 320px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 40px;
}
.cardimg1{
  border-radius: 20%;
  padding: 10px;
  background-color: aliceblue;
}
.cardimg2{
  border-radius: 20%;
  padding: 10px;
  /* height: 90px;
  width: 90px; */
  background-color: aliceblue;
}
.cardimg3{
  border-radius: 20%;
  padding: 10px;
  /* height: 90px;
  width: 90px; */
  background-color: aliceblue;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h1 {
    font-size: 1em;
    /* color:white; */
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9em;
    /* color:white; */
    line-height: 1.5;
}
.s4-section{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.why{
  background-color: aliceblue;
}
.why-head{
  padding-top: 30px;
  padding-bottom: 20px;
  color: rgb(108 117 125);
}
.why-h2{
  font-family:  sans-serif;
  font-size: 3rem;
  color: #d03646;
  margin-left: 200px;
  align-items: center;
  text-align: center;

}
