/* General styling for the section */
section {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: aliceblue;
  }
  
  .s3-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .s3-picture {
    flex: 0 0 300px;
    height: 300px;
    margin-right: 20px; /* Space between picture and containers */
    background-color: #f0f0f0; /* Example background color */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .s3-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* .s3-text-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

  } */
  .title01{
    color: #6c757d;
    /* margin-left: 200px; */
    font-size: 28px;
  
    width: 400px;
  }
  .body01{
    /* margin-left: 200px; */
    font-size: 40px ;
  
  margin-top: 0;
    /* width: 400px */

  }
  
  .s3-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    padding: 10px;
    /* margin-left: 200px; */
  }
  
  .round-s3 {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* For a circular shape */
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    color: red;
    border: 2px solid red;
   
    transform: translateY(10spx);
  }

  .round-s3:hover{
    background-color:#d03646;
    color: white;
    transform: translateY(2px);
  }
  .s3-container-content {
    display: flex;
    flex-direction: column;
  }
  
  .s3-title {
    font-size: 20px;
    background-color: #6c757d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }
  
  .s3-para {
    font-size: 16px;
    margin-top: 0;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;
  }
  
  @media (max-width: 768px) {
    section {
      flex-direction: column;
      align-items: center;
    }
  
    .s3-picture {
      width: 100%; /* Full width for mobile */
      height: auto;
      margin: 0;
      margin-bottom: 20px;
    }
  
    .s3-text, .s3-container {
      width: 100%; /* Full width for mobile */
      margin: 0;
      margin-bottom: 20px;
    }
  
    .round-s3 {
      width: 30px;
      height: 30px;
    }
  
    .s3-title {
      font-size: 18px;
    }
  
    .s3-para {
      font-size: 14px;
    }
  }
  