/* src/components/YoutubeDownloader.css */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.youtube-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #f0f0f0;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.url-input {
  padding: 10px;
  width: 80%;
  max-width: 500px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.video-info {
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
  animation: slideUp 0.5s ease-out;
  text-align: left;
}

.info-container {
  display: flex;
  align-items: flex-start;
}

.thumbnail-container {
  flex: 1;
  text-align: right;
}

.thumbnail {

  width: 100%; 
  max-width: 400px; 
  border-radius: 10px; 
}

.details-container {
  flex: 2;
  margin-left: 20px;
}

.video-title{
  height: 100px;
  width: 400px;
}
.streams-container {
  margin-top: 20px;
  height: 300px;
  width: 400px;
  /* border: 1px solid black; */
  margin-left: 50px;
  padding-left: 30px;
}

.stream-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.stream-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.stream-button:hover {
  background-color: #0056b3;
}

.stream-button.selected {
  background-color: #28a745;
}

.download-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* margin-top: 10px; */
  display: block;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 400px; */
}

.download-button:hover {
  background-color: #45a049;
}

.animated {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .details-container {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .url-input {
    width: 90%;
  }
}
